<%- include('./partials/header') %>

      <section class="catalog">
        <h1 class="title">Notre catalogue</h2>
     <!--   
        <select name="categroy" id="">
          <option value="">Catégorie</option>
          <option value="">Corsé</option>
          <option value="">Acide</option>
          <option value="">Fruité</option>
        </select>

      -->
      </section>

      <section class="products">
        <ul class="products-container">

          <% products.forEach(product => { %>
           
            <li>
              <article class="products-item">
                <img src="/images/coffees/<%= product.reference %>.png" alt="Selection de nos meilleurs cafés oCoffee">
                <div>
                  <h3><%= product.name %></h3>
                  <p>Origine <%= product.origin %></p>
                  <% if (product.available === true) { %>
                    <p><%= product.price %> €/kg</p>
                  <% } else { %>
                    <p>Actuellement indisponible</p>
                  <% } %>                  
                  <a class="products-item__button btn" href="/article/<%= product.id %>">Voir le détail</a>
                </div>
              </article>
            </li>

          <% }) %>
          
        </ul>

        <a class="catalog-btn btn">Tout voir</a>
      </section>
     

<%- include('./partials/footer') %>